- 다양한 함수를 통해 기본 통계 하기
- apply를 활용하기, lambda 익명함수 사용하기

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = pd.DataFrame([[1,2,3],[3,4,5],[34,66,7]], index = [1,2,3], columns = ['a','b','c'])

In [3]:
df

    a   b  c
1   1   2  3
2   3   4  5
3  34  66  7

In [4]:
pd.DataFrame(df['b'].value_counts())#어떤 값이 얼마나 들어있나

    b
66  1
2   1
4   1

In [5]:
len(df)#몇 행이냐

3

In [6]:
df.shape[1]#몇 열이냐

3

In [7]:
df['a'].mean()

12.666666666666666

In [8]:
df['c'].nunique()#유니크한 값의 개수

3

In [9]:
df.describe()

               a          b    c
count   3.000000   3.000000  3.0
mean   12.666667  24.000000  5.0
std    18.502252  36.386811  2.0
min     1.000000   2.000000  3.0
25%     2.000000   3.000000  4.0
50%     3.000000   4.000000  5.0
75%    18.500000  35.000000  6.0
max    34.000000  66.000000  7.0

In [10]:
df.a.sum()

38

In [11]:
df.b.median()

4.0

In [12]:
df.quantile([0.25,0.75])

         a     b    c
0.25   2.0   3.0  4.0
0.75  18.5  35.0  6.0

In [13]:
df.std()#표준편차

a    18.502252
b    36.386811
c     2.000000
dtype: float64

----------------Apply함수-----------------

In [14]:
df['d'] = df.b.apply(lambda x: x*3)
df

    a   b  c    d
1   1   2  3    6
2   3   4  5   12
3  34  66  7  198

In [25]:
ndf = pd.DataFrame({'A': range(1,11), 'B':np.random.randn(10)})

In [29]:
ndf.assign(ln_A = lambda x : np.log(x.A))#저장되진 않음

    A         B      ln_A
0   1  0.079234  0.000000
1   2 -1.378403  0.693147
2   3  0.596561  1.098612
3   4 -0.420509  1.386294
4   5  0.168092  1.609438
5   6 -0.564118  1.791759
6   7  0.419998  1.945910
7   8  1.771372  2.079442
8   9 -0.574707  2.197225
9  10 -0.652012  2.302585

In [30]:
ndf['ln_A'] = np.log(ndf.A)#ndf의 A컬럼에 log를 씌운 값으로 이뤄진 ln_A이라는 새로운 컬럼을 만들어라

In [31]:
ndf

    A         B      ln_A
0   1  0.079234  0.000000
1   2 -1.378403  0.693147
2   3  0.596561  1.098612
3   4 -0.420509  1.386294
4   5  0.168092  1.609438
5   6 -0.564118  1.791759
6   7  0.419998  1.945910
7   8  1.771372  2.079442
8   9 -0.574707  2.197225
9  10 -0.652012  2.302585

In [34]:
#실수값을 크기 기준으로 하여 카테고리 값으로 변환하고 싶을 때
pd.cut(ndf.B,[-2.2, 0,1,2],labels = ['low', 'mid','high'])
#-2.2 ~ 0: low, 0~1: mid, 1~2: high

0     mid
1     low
2     mid
3     low
4     mid
5     low
6     mid
7    high
8     low
9     low
Name: B, dtype: category
Categories (3, object): [low < mid < high]

In [35]:
#cut처럼 구간 경계선을 지정하지 않고, 데이터 갯수가 같도록 지정한 수의 구간으로 나눔
pd.qcut(ndf.B,3, labels = ['good', 'medium','bad'])

0    medium
1      good
2       bad
3    medium
4    medium
5      good
6       bad
7       bad
8      good
9      good
Name: B, dtype: category
Categories (3, object): [good < medium < bad]

In [38]:
ndf.max(axis = 0)#row 기준 최댓값

A       10.000000
B        1.771372
ln_A     2.302585
dtype: float64

In [37]:
ndf.max(axis=1)#column 기준 최대값

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [36]:
ndf.B.clip(lower = -1, upper = 0.5) #최소, 최대값을 정해줌

0    0.079234
1   -1.000000
2    0.500000
3   -0.420509
4    0.168092
5   -0.564118
6    0.419998
7    0.500000
8   -0.574707
9   -0.652012
Name: B, dtype: float64

In [41]:
ndf['B'].abs()

0    0.079234
1    1.378403
2    0.596561
3    0.420509
4    0.168092
5    0.564118
6    0.419998
7    1.771372
8    0.574707
9    0.652012
Name: B, dtype: float64